<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
   xmlns="http://java.sun.com/xml/ns/javaee" 
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
   http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
   id="history" version="3.0">
   <display-name>History</display-name>
 <!--   <servlet>
      <servlet-name>HistoryService</servlet-name>
      <servlet-class>com.md.bpm.service.HistoryService</servlet-class> 
      </servlet>  
   <servlet-mapping>
   <servlet-name>HistoryService</servlet-name>
      <url-pattern>/HistoryService/*</url-pattern>
   </servlet-mapping>  
  
   -->
    <servlet-mapping>
       <servlet-name>javax.ws.rs.core.Application</servlet-name>
       <url-pattern>/rest/*</url-pattern>
   </servlet-mapping>
   
</web-app>